@charset "utf-8";

$resume-color: #197ab8;

$primary: $resume-color;


.info-icon-container {
	margin: 0px 140px;
}

.info-icon {
	margin: 50px
}

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-timeline/dist/css/bulma-timeline.sass";
@import "../node_modules/bulma-tooltip/dist/css/bulma-tooltip.sass";